* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0;
  font-weight: normal; }

p {
  margin: 0; }

a {
  display: block;
  text-decoration: none; }

img {
  display: block; }

i {
  display: block; }

input {
  margin: 0;
  padding: 0;
  outline: none; }

#seoh1 {
  display: none; }

#header {
  height: 44px;
  background-color: #31c27c;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #header .logo {
    height: 25px;
    margin-left: 10px; }

.radios {
  margin: 0 10px;
  margin-bottom: 7px; }
  .radios .title {
    color: #000;
    font-size: 16px;
    margin-bottom: 11px;
    height: 24px; }
  .radios .list {
    display: flex;
    margin-right: -8px;
    overflow: hidden; }
    .radios .list .list-item {
      width: 50%;
      margin-right: 8px;
      margin-bottom: 10px;
      background: #fff; }
      .radios .list .list-item .item-media {
        position: relative;
        margin-bottom: 5px; }
        .radios .list .list-item .item-media img {
          width: 100%;
          display: block; }
        .radios .list .list-item .item-media .icon-play {
          height: 24px;
          position: absolute;
          bottom: 5px;
          right: 5px;
          width: 24px;
          background-position: 0 0;
          background-image: url("../img/list_sprite.png");
          background-repeat: no-repeat;
          background-size: 24px 60px; }
      .radios .list .list-item .item-info {
        padding: 0 7px 5px;
        color: #000; }
        .radios .list .list-item .item-info h3 {
          height: 36px;
          line-height: 18px;
          white-space: normal;
          word-wrap: break-word;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis; }

.qq-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px; }
  .qq-slider .qq-slider-wrapper {
    display: flex;
    position: relative; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%;
    position: relative; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a img {
        width: 100%;
        display: block; }
  .qq-slider .qq-slider-dots {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    text-align: center; }
    .qq-slider .qq-slider-dots b {
      box-sizing: content-box;
      display: inline-block;
      margin: 0 4px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: rgba(144, 144, 144, 0.8); }
    .qq-slider .qq-slider-dots b.dot-state-active {
      background: #fff; }

.tabs .nav-list {
  display: flex;
  background: #fff; }
  .tabs .nav-list .nav-item {
    flex-grow: 1;
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    height: 40px;
    line-height: 40px; }
    .tabs .nav-list .nav-item.item-state-active {
      color: #31c27c; }
      .tabs .nav-list .nav-item.item-state-active:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: #31c27c; }

.hide {
  display: none; }

.rank-view {
  margin: 10px; }
  .rank-view .rank-item {
    margin-bottom: 10px;
    overflow: hidden;
    background: #fff;
    display: flex;
    justify-content: flex-start; }
    .rank-view .rank-item .rank-cover {
      position: relative;
      width: 100px;
      height: 100px; }
      .rank-view .rank-item .rank-cover:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-image: url(../img/shadow_rp_b.png);
        background-size: 1px 117px;
        background-repeat: repeat-x;
        z-index: 1; }
      .rank-view .rank-item .rank-cover img {
        width: 100px;
        height: 100px; }
      .rank-view .rank-item .rank-cover .listen-count {
        position: absolute;
        display: block;
        left: 5px;
        bottom: 7px;
        line-height: 12px;
        color: #fff;
        opacity: .6;
        font-size: 9px;
        z-index: 10; }
        .rank-view .rank-item .rank-cover .listen-count .listen-icon {
          display: block;
          float: left;
          width: 10px;
          height: 10px;
          background-position: 0 -50px;
          margin-top: 2px;
          margin-right: 3px;
          background-image: url(../img/list_sprite.png);
          background-repeat: no-repeat;
          background-size: 24px 60px; }
    .rank-view .rank-item .rank-info {
      position: relative;
      flex-grow: 1;
      align-self: center; }
      .rank-view .rank-item .rank-info .rank-content {
        height: 100%;
        margin: 0 10px 0 15px; }
        .rank-view .rank-item .rank-info .rank-content .rank-title {
          font-size: 16px;
          color: #000;
          margin-bottom: 5px; }
        .rank-view .rank-item .rank-info .rank-content p {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          .rank-view .rank-item .rank-info .rank-content p .text-name {
            color: #000;
            margin-left: 8px;
            margin-right: 5px; }
      .rank-view .rank-item .rank-info .arrow-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -4px;
        width: 6px;
        height: 6px;
        border-right: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        transform: rotate(-45deg); }

.search-view .load-complete {
  display: none; }
.search-view .search-bar {
  background: #f4f4f4;
  padding: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center; }
  .search-view .search-bar * {
    box-sizing: content-box; }
  .search-view .search-bar .input-wrap {
    position: relative;
    border-radius: 3px;
    background: #fff;
    height: 20px;
    padding: 8px 12px 8px 35px;
    -webkit-box-flex: 1; }
    .search-view .search-bar .input-wrap #search-form {
      font-size: 0; }
    .search-view .search-bar .input-wrap #search-input {
      height: 20px;
      line-height: 20px;
      width: 100%;
      color: rgba(0, 0, 0, 0.3);
      border: none;
      -webkit-appearance: textfield;
      font-size: 14px; }
      .search-view .search-bar .input-wrap #search-input::-webkit-input-placeholder {
        color: rgba(122, 120, 120, 0.6); }
    .search-view .search-bar .input-wrap .search-icon {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 18px;
      height: 18px;
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-size: cover;
      text-indent: -999px; }
    .search-view .search-bar .input-wrap .delete-icon {
      display: none;
      position: absolute;
      top: 9px;
      right: 12px;
      width: 18px;
      height: 18px;
      background: #b1b1b1;
      text-indent: -9999px;
      border-radius: 99px; }
      .search-view .search-bar .input-wrap .delete-icon::before {
        width: 10px;
        height: 2px;
        margin-left: -5px;
        margin-top: -1px; }
      .search-view .search-bar .input-wrap .delete-icon::after {
        width: 2px;
        height: 10px;
        margin-left: -1px;
        margin-top: -5px; }
      .search-view .search-bar .input-wrap .delete-icon::before, .search-view .search-bar .input-wrap .delete-icon::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 8px;
        background: #fff;
        transform: rotate(45deg); }
  .search-view .search-bar #cancel-btn {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    height: 36px;
    line-height: 36px; }
.search-view .search-hot {
  background: #fff;
  padding: 15px 15px 10px 15px; }
  .search-view .search-hot .title {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px; }
  .search-view .search-hot .hot-lists {
    font-size: 0; }
    .search-view .search-hot .hot-lists .hot-tag {
      display: inline-block;
      font-size: 14px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      color: #000;
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 99px;
      word-break: keep-all;
      margin-bottom: 10px;
      margin-right: 14px; }
      .search-view .search-hot .hot-lists .hot-tag.special {
        color: #fc4524;
        border-color: #fc4524; }

.loading-musicion {
  display: none;
  overflow: hidden;
  text-align: center;
  color: #8f8f8f; }
  .loading-musicion img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 60px auto 50px; }
  .loading-musicion p span {
    display: inline-block;
    width: 20px;
    overflow: hidden;
    vertical-align: middle; }

body {
  background: #f4f4f4;
  color: #555;
  height: 100vh; }

/*# sourceMappingURL=app.css.map */
