.tabs{
    .nav-list{
        display: flex;
        background: #fff;
        .nav-item{
            flex-grow: 1;
            position: relative;
            text-align: center;
            color: $nav-item-color;
            height: $nav-item-height;
            line-height: $nav-item-height;
            &.item-state-active{
                color: $nav-item-active;
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $nav-item-active;
                }
            }
            
        }
    }
}