.radios{
    margin: 0 10px;
    margin-bottom: 7px;
    .title{
        color: #000;
        font-size: 16px;
        margin-bottom: 11px;
        height: 24px;
    }
    .list{
        display: flex;
        margin-right: -8px;
        overflow: hidden;
        .list-item{
            width: 50%;
            margin-right: 8px;
            margin-bottom: 10px;
            background: #fff;            
            .item-media{
                position: relative;
                margin-bottom: 5px;
                img{
                    width: 100%;
                    display: block;
                }
                .icon-play{
                    height: 24px;
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    width: 24px;
                    background-position: 0 0;
                    background-image: url("../img/list_sprite.png");
                    background-repeat: no-repeat;
                    background-size: 24px 60px;
                }
            }
            .item-info{
                padding: 0 7px 5px;
                color: #000;
                h3{
                    height: 36px;
                    line-height: 18px;
                    white-space: normal;
                    word-wrap: break-word;
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    
    
}