.search-view{
    // height: 100%;
    // background: #fff;
    .load-complete{
        display: none;
    }
    .search-bar{
        background: #f4f4f4;
        padding: 10px;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-align: center;
        *{
            box-sizing: content-box;
        }
        .input-wrap{
            position: relative;
            border-radius: 3px;
            background: #fff;
            height: 20px;
            padding: 8px 12px 8px 35px;
            -webkit-box-flex: 1;
            #search-form{
                font-size: 0;
            }
            #search-input{
                height: 20px;
                line-height: 20px;
                width: 100%;
                color: rgba(0,0,0,.3);
                border: none;
                -webkit-appearance: textfield;
                font-size: 14px;
                &::-webkit-input-placeholder{
                    color: rgba(122, 120, 120, 0.6);
                }
            }
            .search-icon{
                position: absolute;
                top: 9px;
                left: 10px;
                width: 18px;
                height: 18px;
                background-image: url(../img/search.svg);
                background-repeat: no-repeat;
                background-size: cover;
                text-indent: -999px;
            }
            .delete-icon{
                display: none;
                position: absolute;
                top: 9px;
                right: 12px;
                width: 18px;
                height: 18px;
                background: #b1b1b1;
                text-indent: -9999px;
                border-radius: 99px;
                &::before{
                    width: 10px;
                    height: 2px;
                    margin-left: -5px;
                    margin-top: -1px;
                }
                &::after{
                    width: 2px;
                    height: 10px;
                    margin-left: -1px;
                    margin-top: -5px;
                }
                &::before,&::after{
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 8px;
                    background: #fff;
                    transform: rotate(45deg);
                }
            }
        }
        #cancel-btn{
            padding-right: 10px;
            padding-left: 10px;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
        }
    }
    
    .search-hot{
        background: #fff;
        padding: 15px 15px 10px 15px;
        .title{
            color: rgba(0,0,0,.6);
            margin-bottom: 8px;
        }
    
        .hot-lists{
            font-size: 0;
            .hot-tag{
                display: inline-block;
                font-size: 14px;
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                color: #000;
                border: 1px solid rgba(0,0,0,.6);
                border-radius: 99px;
                word-break: keep-all;
                margin-bottom: 10px;
                margin-right: 14px;
                &.special{
                    color: #fc4524;
                    border-color: #fc4524;
                }
            }
        }
    }
}
.loading-musicion{
    display: none;
    overflow: hidden;
    text-align: center;
    color: #8f8f8f;
    img{
        display: block;
        width: 100px;
        height: 100px;
        margin: 60px auto 50px;
    }
    p{
        span{
            display: inline-block;
            width: 20px;
            overflow: hidden;
            vertical-align: middle;
        }
    }
}