.qq-slider{
    width: 100%;
    overflow: hidden;
    .qq-slider-wrapper{
        display: flex;
        transition: .5s;
    }
    .qq-slider-item{
        flex-basis: 100%;
        >a{
            display: block;
            img{width: 100%;}
        }
    }
    
}