@import "./_var.scss";
@import "./_reset.scss";
@import "./header.scss";
@import "./rec.scss";
@import "./_slider.scss";
@import "./_navbar.scss";
@import "./_helpers.scss";
@import "./_rank.scss";
@import "./_search.scss";

body{
    background: $body-bg;
    color: $body-color;
    height: 100vh;
    // height: 30000px;
}

// .tab-contents{
//     height: 100%;
// }